@keyframes heart-progress {
  0% {
    opacity: 1;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
body {
  font-family: "RobotoRegular", sans-serif;
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 14px;
  margin: 0px;
}

main {
  width: 100%;
}

h1, h2, h3 {
  font-family: "ShrikhandRegular";
  font-style: italic;
  font-weight: bolder;
}

h1 {
  font-size: 28px;
}

p {
  margin: 0px;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

figure {
  display: inline-block;
  margin: 0px 0px 0px 0px;
}

header {
  width: 100%;
}

footer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container-log {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.container-log__logo {
  object-fit: cover;
  width: 40%;
}

.locali {
  background-color: #eaeaeae5;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  box-shadow: inset 0px 3px 3px rgba(209, 209, 209, 0.8980392157);
}
.locali__text {
  font-weight: 550;
  margin-left: 1rem;
}

.present {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.present__res {
  font-size: 22.4px;
  font-weight: bold;
  text-align: center;
}
.present__decou {
  text-align: center;
  margin: 1rem 0px;
  font-weight: lighter;
  font-size: 15.4px;
}

.fonct {
  padding: 1.2rem;
  margin: 2rem 0px;
}
.fonct__encart {
  box-shadow: 3px 6px 10px #eaeaeae5, -3px 6px 10px #eaeaeae5;
  display: flex;
  background-color: #f6f6f6;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.fonct__encart:hover::after {
  opacity: 1;
}
.fonct__encart::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background-color: #f2eafb;
  box-shadow: 3px 6px 10px rgba(209, 209, 209, 0.8980392157), -3px 6px 10px rgba(209, 209, 209, 0.8980392157);
  animation: opacity 250ms;
}
.fonct__encart__consignes {
  margin-left: 1rem;
  align-self: center;
}

.title {
  font-size: 22.4px;
  font-weight: bolder;
  margin: 3rem 1rem 0.5rem 1rem;
}

.ic-num {
  position: relative;
  top: 0px;
  left: -13%;
  background-color: #9356DC;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
}

.ico {
  align-self: center;
  font-size: 18.2px;
  color: rgba(132, 132, 132, 0.8980392157);
}

.restau {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: auto;
}

.link-img {
  width: auto;
  height: auto;
}

.card {
  margin: 0.5rem 1rem;
  width: auto;
  background-color: white;
  border-radius: 20px;
}
.card__fig {
  width: auto;
}
.card__fig__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 200px;
}

.fcaption {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fcaption__localisation {
  font-size: 14px;
}
.fcaption__title {
  width: 90%;
}

.log-footer {
  margin: 1rem;
}
.log-footer__logo {
  object-fit: cover;
  width: 25%;
  color: white;
}

footer > a {
  margin: 0.5rem;
  color: white;
}
footer > a > i {
  margin: 0px 0.5rem 0px 0px;
}

address > a {
  color: white;
  margin-left: 0.5rem;
}

/*------------------photo page menu */
.picofmenu__picture {
  width: 100%;
  height: 300px;
}

/*-------------*/
.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -65px;
  z-index: 1;
}

.name-rest {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.plats {
  display: flex;
  flex-direction: column;
}
.plats__titles {
  width: fit-content;
  margin-left: 1rem;
  font-size: 19.6px;
  font-weight: 300;
  border-bottom: 4px solid #99E2D0;
}
.plats__recette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  margin: 0.5rem 1rem;
}
.plats__recette__name {
  width: 100%;
  font-weight: bolder;
  font-size: 15.4px;
  margin-bottom: 0.3333333333rem;
}
.plats__recette__price {
  font-weight: bolder;
}

.btn {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  border-radius: 40px;
  border: 0px;
  background: linear-gradient(-185deg, #FF79DA, #9356DC);
  color: white;
  box-shadow: 3px 6px 10px #eaeaeae5, -3px 6px 10px #eaeaeae5;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(-185deg, #ff93e1, #a16be0);
  border-radius: 40px;
  box-shadow: 3px 6px 10px rgba(209, 209, 209, 0.8980392157), -3px 6px 10px rgba(209, 209, 209, 0.8980392157);
  animation: opacity 250ms;
}

.fcaption__ic {
  font-size: 25.2px;
  background-color: yellow;
  position: relative;
  z-index: 1;
}
.fcaption__ic:hover::after {
  opacity: 1;
  animation: heart-progress 400ms ease-in;
}
.fcaption__ic::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(-185deg, #FF79DA, #9356DC);
}

/*# sourceMappingURL=styleP3.css.map */
