
.btn{
    padding: $margin $margin;
    margin: $margin $margin;
    border-radius:$border-radius;
    border: 0px;
    background: linear-gradient(-185deg, $color-secondary, $color-primary);
    color: white;
    @include b-sha-encart($cd-locali);
    position: relative;
    z-index: 1;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        @include absolute;
        background: linear-gradient(-185deg,lighten($color-secondary,5%) ,lighten($color-primary,5%) );
        border-radius:$border-radius;
        @include b-sha-encart($cd-shadow);
        animation: opacity 250ms;

    }
}

.fcaption__ic{
        
    font-size: $font-size*1.8;
    background-color: yellow;
    position: relative;
    z-index: 1;
    &:hover{
        &::after{
            opacity: 1;
            animation: heart-progress 400ms ease-in;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(-185deg, $color-secondary, $color-primary);
        
    }
}