@keyframes anim_box {
    0% {
        width: 0%;
        transform: translate (2%, -2%);
    }
    100% {
        width: 20%;
    }
}


@keyframes icon-slice{
    0%{
        opacity: 0;
        z-index: -1;
        width: 0rem;
        
    }
    7%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        z-index: 2;
        width: 5rem;
        
    }
}

@keyframes compo-slice{
    0%{
        width: 90%;
    }
    100%{
        width: calc(90% - 5rem);
    }
}

@keyframes icon-rotation{
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    50%{
        opacity: 1;
    }

    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}