
@keyframes icon-slice{
    0%{
        opacity: 0;
        z-index: -1;
        width: 0%;
        
    }
    7%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        z-index: 2;
        width: 20%;
        
    }
}

@keyframes compo-slice{
    0%{
        width: 90%;
    }
    100%{
        width: calc(90% - 20%);
    }
}

@keyframes icon-rotation{
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    50%{
        opacity: 1;
    }

    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}


@keyframes circle-tertiary{
    0%{ opacity: 1;
        transform: translateX(40px);
    }
    16%{
            
    }
    32%{
        
    }
    48%{
        
        transform: translateX(40px);
    }
    65%{
        
    }
    78%{
        
        transform: translateX(0px);
        
    }
    100%{
        opacity: 1;
        transform: translateX(40px);
        
    }
}



@keyframes circle-primary{
    0%{
        opacity: 1;
        transform: translateX(-40px);
    }
    16%{
        opacity: 0;
        
    }
    32%{
        opacity: 0;
    }
    48%{
        opacity: 0;
        transform: translateX(-40px);
    }
    65%{
        opacity: 1;
    }
    78%{
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-40px);
        
    }
}

@keyframes circle-secondary{
    0%{ opacity: 1;
        
        
    }
    16%{
        opacity: 1;
    }
    32%{
        opacity: 0;
    }
    48%{
        opacity: 0;
        
    }
    65%{ 
        opacity: 1;
    }
    
    78%{
        
        
    }
    100%{
        opacity: 1;
    }
}

@keyframes circle-rotate{
    0%{ 
        transform: rotateY(0deg);
    }
    48%{
        transform: rotateY(0deg);
    }
    78%{
        transform: rotateY(720deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes zzz {
    0%{ opacity: 0;
        z-index: 500;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    99%{
        z-index: 3;
    }
    100%{
        opacity: 0;
        z-index: -5;
    }
}

@keyframes circle-opacity {
    0%{
       opacity: 0;
    }
    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }
    100%{opacity: 0;}
}

