@mixin b-sha-encart{
    box-shadow: 3px 6px 4px $cd-locali , -3px 6px 4px $cd-locali;
}
@mixin absolute {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                opacity: 0;
    
}
/*display: flex;
            justify-content: center;  
            align-items: center;
            height: 5rem;
            color: white;
            background-color: $color-tertiary;
            border-top-right-radius: $border-radius/2;
            border-bottom-right-radius: $border-radius/2;
            width: 5rem;
            min-width: 5rem;
            z-index: -1;
            opacity: 0.5*/