$font-size:14px;

$cd-locali: #eaeaeae5;
$cd-shadow: darken($cd-locali, 10%);
$cd-fond: #f6f6f6;
$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0 ;

$num-recette:10;
$recette-delay:120ms;

$anim-dur: 1000ms;
$num-bar:5;
$anim-delay: $anim-dur/$num-bar;
$num-centre: 3;
$size: 3vh;


$padding: 1rem;
$margin: 1rem;

$border-radius: 40px;

@mixin b-sha-encart($color: $cd-shadow){
    box-shadow: 3px 6px 10px $color , -3px 6px 10px $color;
}


@mixin absolute {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;

}

@mixin gradient($perct: 0%) {
    background: linear-gradient(-185deg, lighten ($color-secondary,$perct),lighten($color-primary,$perct) );
    
}


