$font-size:14px;

$cd-locali: #eaeaeae5;
$cd-shadow: darken($cd-locali, 10%);
$cd-fond: #f6f6f6;
$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0 ;

$num-recette:10;
$recette-delay:120ms;

$anim-dur: 1000ms;
$num-bar:5;
$anim-delay: $anim-dur/$num-bar;
$num-centre: 3;
$size: 3vh;


$padding: 1rem;
$margin: 1rem;

$border-radius: 40px;

@mixin b-sha-encart($color: $cd-shadow){
    box-shadow: 3px 6px 10px $color , -3px 6px 10px $color;
}


@mixin absolute {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;

}

@mixin gradient($perct: 0%) {
    background: linear-gradient(-185deg, lighten ($color-secondary,$perct),lighten($color-primary,$perct) );
    
}

@keyframes heart-progress{
    0%{
        opacity: 1;
        transform: scaleY(0);
    }
    100%{opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes landing {
    from{
        opacity: 0;
        transform: translateY(0%);
    }
    to{
        opacity: 1;
        transform: translateY(-10%);
    }
}
@keyframes heart{
    from{
        opacity: 1;
        z-index: 3;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}

/*----------load-spiner*/
/*@keyframes turn{
    0% {
        transform: scaleY(1);
        transform: scaleX(1);
        opacity: 0;  
    }
   25%{
        opacity: 0.6;
        
    }
    50% {
        transform: scaleY(0.01);
        transform: scaleX(2); 
        opacity: 1;       
    }
    75% {    
        opacity: 1;
        transform: scaleX(1.8);  
    }
}

@keyframes grow {
    0%{
        
        transform: scale(1,1) ;
        transform: rotate3d(0);
        opacity: 0.3;
    }
    25%{
        
        transform: scaleY(3,3);
        transform: rotate3d(1,0,1,60deg);
        opacity: 0.6;
    }
    50%{
        
        transform: scale(2,2);
        transform: rotate3d(1,0,1,180deg);
        opacity:1;
    }
    75%{
        
        transform: scale(1.5,1.5);
        transform: rotate3d(1,0,1,360);
        opacity: 1;
    }
    100%{
        transform: scale(1,1);
        transform: rotate3d(0);
        opacity: 0.8;
    }

}
@keyframes bar {
    0%{
        z-index: 200;
        transform: scaleX(0);
        transform: scaleY(0);
        opacity: 0;
        transform: translate(0vw,0vw);
        transform: rotate(0deg);
        
    }
    12%{
        transform: scaleX(-20px);
        transform: scaleY(40px);
        opacity: 0.9;
    }
    25%{
        transform: scaleX(30px);
        transform: scaleY(-60px);
        
        
    }
    37%{
        transform: scaleX(20px);
        transform: scaleY(-30px);
        
        
    }
    50%{
        transform: scaleX(10px);
        transform: scaleY(-10px);
        opacity: 0.31;
        
    }
    62%{
        transform: scaleX(5px);
        transform: scaleY(-5px);
        
        
    }
    75%{
        transform: scaleX(2px);
        transform: scaleY(-20px);
        
        
    }
    87%{
        
        transform: scaleX(0px);
        transform: scaleY(-80px);
        
    }
    99%{
        z-index: 200;
        opacity: 0.9;
    }
    100%{
        z-index: -4;
        transform: scaleX(0px);
        transform: scaleY(0px);
        opacity: 0;
        transform: rotate(1080deg);
        
    }
}*/

